.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    width: 100%;
    height: auto;
}

.container svg {
    width: 100%;
    height: 100%;
    filter: drop-shadow(0 0 5vw var(--color));
}

.path {
    transition: fill 0.5s, fill-opacity 0.5s;
}

.circle {
    --color: '#00E595';
    --angel-rotation: 85deg;
    position: absolute;
    top: 44%;
    height: 55vw;
    width: 55vw;
    border-radius: 100%;
    transform: rotate(var(--angel-rotation));
    transition: transform 0.5s;
}

.angel {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, calc(-100% - 0.6vw));
    width: 0;
    height: 0;
    border-left: 3.5vw solid transparent;
    border-right: 3.5vw solid transparent;
    border-bottom: 7vw solid var(--color);
    filter: drop-shadow(0 0 5vw var(--color));
    transition: border-bottom-color 0.5s, border-left-color 0.5s, border-right-color 0.5s;
}

.value {
    --color: #00E595;
    position: absolute;
    bottom: 1vw;
    font-size: 8vw;
    color: var(--color);
    font-weight: 900;
    filter: drop-shadow(0 0 3vw var(--color));
    transition: color 0.5s, filter 0.5s;
}
