.container {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 4vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container p {
    font-size: 4.5vw;
    text-align: center;
    font-weight: 900;
    margin-bottom: 5vw;
}

.button {
    font-size: 3.5vw;
    font-weight: 700;
    padding: 2vw;
    line-height: 2vw;
    background: none;
    border: none;
    outline: none;
    color: white;
    text-decoration: underline;
}
