.container {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 4vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container p {
    font-size: 4.5vw;
    text-align: center;
    font-weight: 900;
    margin-bottom: 8vw;
}

.button {
    align-self: center;
    font-size: 3.5vw;
    font-weight: 700;
    padding: 3vw 4vw;
    line-height: 2vw;
    background: rgba(255,255,255,0.15);
    border-radius: 4vw;
    border: none;
    outline: none;
    color: white;
    transition: background-color 0.2s;
}

.button:hover {
    background: rgba(255,255,255,0.1);
}
