.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
    overflow: hidden;
    opacity: 1;
    transition: opacity 0.4s;
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    pointer-events: auto;
    transition: opacity 0.35s ease-in-out;
    overflow: auto;
}

.contentHide {
    pointer-events: none;
    opacity: 0;
}

.view {
    position: relative;
    padding: 3vw 3vw 5vw;
    overflow: auto;
}

.question {
    position: relative;
    padding: 0 2vw;
    margin-bottom: 5vw;
    color: #ffffff;
    font-size: 5vw;
    text-align: center;
    font-weight: 900;
}
